*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FFF;
  font-family: "Roboto", sans-serif;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 15px 0;
}
.button button {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: -o-linear-gradient(top, #ff79da, #9356dc);
  background: linear-gradient(180deg, #ff79da, #9356dc);
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  color: white;
  margin: 10px 0;
  cursor: pointer;
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.button button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 121, 218, 0.7)), to(rgba(147, 86, 220, 0.7)));
  background: -o-linear-gradient(top, rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.7));
  background: linear-gradient(180deg, rgba(255, 121, 218, 0.7), rgba(147, 86, 220, 0.7));
  -webkit-box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/* MAIN PAGE LOADER ANIMATION */
@-webkit-keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(0.5rem);
            transform: translateY(0.5rem);
  }
  75% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* MENU ITEMS APPEARANCE ANIMATION */
@-webkit-keyframes appearance {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes appearance {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
#delay-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#delay-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#delay-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#delay-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#delay-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#delay-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#delay-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#delay-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

/* MENU ITEMS CHECKBOX ANIMATIONS */
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(50px);
            transform: scaleX(50px);
  }
}
@keyframes slideLeft {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(50px);
            transform: scaleX(50px);
  }
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(50px);
            transform: scaleX(50px);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(50px);
            transform: scaleX(50px);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* HEART COLOR ANIMATION */
@-webkit-keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }
  80% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 1560;
    fill: url(#heart-fill);
  }
}
@keyframes animate-heart {
  0% {
    stroke-dashoffset: 0;
  }
  80% {
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 1560;
    fill: url(#heart-fill);
  }
}
.header {
  height: 70px;
}
.header a {
  text-decoration: none;
}
.header a h1 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  text-align: center;
  padding-top: 15px;
}

footer {
  background-color: #353535;
  padding: 0 40px 20px;
  width: 100%;
}
footer .footer {
  max-width: 1200px;
  margin: 0 auto;
}
footer .footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
  font-size: 20px;
  padding: 15px 0;
  color: #FFF;
}
footer .footer ul {
  list-style-type: none;
}
footer .footer ul li {
  padding: 5px 0;
}
footer .footer ul li a {
  text-decoration: none;
  color: #FFF;
}
footer .footer ul li a .fas {
  font-size: 15px;
  padding-right: 5px;
}

.header__restaurants {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100%;
  z-index: 10;
  background: #FFF;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}
.header__restaurants .header__container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__restaurants .header__container .header__arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 40px;
  top: 25px;
  font-size: 20px;
}
.header__restaurants .header__container .header__arrow a {
  text-decoration: none;
  color: initial;
}
.header__restaurants .header__container .logo__restaurants {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: "Shrikhand", cursive;
  text-align: center;
}

/* LOADER */
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-animation: loader 2s;
          animation: loader 2s;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loader__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.loader__item {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  -webkit-animation: jump 1s;
          animation: jump 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader__item-1 {
  background: #9356dc;
}
.loader__item-2 {
  background: #ff79da;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loader__item-3 {
  background: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

/* CITY LOCATION SECTION */
.location {
  background: #eaeaea;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.location i, .location input {
  padding: 0 5px;
}
.location input {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

/* SERVICE EXPLANATION SECTION */
.search {
  background: #F3F3F3;
}
.search__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0;
}
.search__container h2 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  max-width: 300px;
  margin: 10px;
}
.search__container p {
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  max-width: 350px;
  margin: 10px 0;
}
.search__container a {
  text-decoration: none;
  color: #FFF;
}

/* SERVICE USAGE SECTION*/
.usage {
  padding: 40px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.usage__content {
  width: 95%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.usage__content .usage_title {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.usage__content .usage__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .usage__content .usage__steps {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.usage__content .usage__steps-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F3F3F3;
  height: 70px;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 20px;
  border-radius: 25px;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.usage__content .usage__steps-style:hover {
  background: #f5edff;
}
@media screen and (min-width: 768px) {
  .usage__content .usage__steps-style {
    width: 100%;
    margin: 10px;
  }
}
.usage__content .usage__steps-style p {
  background: #9356dc;
  color: #FFF;
  position: absolute;
  padding: 3px 8px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 25px;
}
.usage__content .usage__steps-style .fas {
  font-weight: bold;
  color: #7e7e7e;
  margin: 20px;
}
.usage__content .usage__steps-style h3 {
  font-size: 18px;
  font-weight: 500;
}

/* RESTAURANTS FINDER SECTION */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 30px;
  background: #F3F3F3;
}
.container .restaurants {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container .restaurants__title {
  font-size: 25px;
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}
.container .restaurants__cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
@media screen and (min-width: 768px) {
  .container .restaurants__cards {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.container .restaurants__cards a {
  text-decoration: none;
  color: initial;
}
.container .restaurants__cards a .restaurant__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.container .restaurants__cards a .restaurant__card-image {
  width: 100%;
  height: 200px;
}
.container .restaurants__cards a .restaurant__card-image > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
  background: #99E2D0;
  color: #1b6150;
  padding: 5px 10px;
  border-radius: 5px;
}
.container .restaurants__cards a .restaurant__card-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.container .restaurants__cards a .restaurant__card .restaurant__block {
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 0 0 20px 20px;
  padding: 10px;
}
.container .restaurants__cards a .restaurant__card .restaurant__block-info {
  font-size: 18px;
}
.container .restaurants__cards a .restaurant__card .restaurant__block-name {
  font-weight: 700;
}
.container .restaurants__cards a .restaurant__card .restaurant__block svg {
  width: 25px;
  fill: transparent;
  stroke-width: 30;
  stroke: black;
  overflow: visible;
}
.container .restaurants__cards a .restaurant__card .restaurant__block .icon path {
  fill: transparent;
  stroke-width: 30;
  stroke: black;
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.container .restaurants__cards a .restaurant__card .restaurant__block .icon.icon:hover path {
  -webkit-animation: animate-heart 0.5s forwards;
          animation: animate-heart 0.5s forwards;
}

.image {
  width: 100%;
  height: 50vh;
}
.image img {
  margin-top: -80px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background: #FFF;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__template {
  margin-top: -200px;
  padding: 0 20px;
  width: 100%;
  max-width: 1200px;
  border-radius: 30px 30px 0 0;
  background: #F3F3F3;
}
@media screen and (min-width: 992px) {
  .menu__template {
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 100px;
  }
}
.menu__template-header {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__template-header h2 {
  font-size: 25px;
  font-family: "Shrikhand", cursive;
}
.menu__template-header svg {
  width: 25px;
  fill: transparent;
  stroke-width: 30;
  stroke: black;
  overflow: visible;
  cursor: pointer;
}
.menu__template-header .icon path {
  fill: transparent;
  stroke-width: 30;
  stroke: black;
  stroke-dasharray: 1560;
  stroke-dashoffset: 0;
}
.menu__template-header .icon:hover path {
  -webkit-animation: animate-heart 0.5s forwards;
          animation: animate-heart 0.5s forwards;
}
.menu__template .menu__grid {
  display: grid;
  grid-gap: 40px;
}
@media screen and (min-width: 992px) {
  .menu__template .menu__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}
.menu__template .menu__grid .menu__template-block {
  display: grid;
  grid-gap: 15px;
}
.menu__template .menu__grid .menu__template-title h3 {
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.menu__template .menu__grid .menu__template-title h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu__template .menu__grid .menu__template-dish {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  border-radius: 15px;
  background: #FFF;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: appearance 0.8s;
          animation: appearance 0.8s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
          animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu__template .menu__grid .menu__template-dish .dish__name-price {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}
.menu__template .menu__grid .menu__template-dish .dish__name-price .dish__name {
  white-space: nowrap;
  overflow: hidden;
}
.menu__template .menu__grid .menu__template-dish .dish__name-price .dish__name h4, .menu__template .menu__grid .menu__template-dish .dish__name-price .dish__name p {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
}
.menu__template .menu__grid .menu__template-dish .dish__name-price .dish__name h4, .menu__template .menu__grid .menu__template-dish .dish__name-price .dish__price {
  font-weight: bold;
}
.menu__template .menu__grid .menu__template-dish .dish__check {
  display: none;
  position: absolute;
  background: #99E2D0;
  border-radius: 0 15px 15px 0;
  right: 0px;
  padding: 0 15px;
  height: 100%;
}
.menu__template .menu__grid .menu__template-dish .dish__check .fa-check-circle {
  font-size: 30px;
  color: #FFF;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}
.menu__template .menu__grid .menu__template-dish:hover .dish__price {
  padding-right: 70px;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}
.menu__template .menu__grid .menu__template-dish:hover .dish__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide 0.5s ease;
          animation: slide 0.5s ease;
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
}