.header__restaurants {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
    z-index: 10;
    background: $white-color;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
        .header__container {
            max-width: 1200px;
            margin: 0 auto;
                .header__arrow {
                    position: absolute;
                    width: 50px;
                    height: 50px;
                    left: 40px;
                    top: 25px;
                    font-size: 20px;
                        a {
                            text-decoration: none;
                            color: initial;
                        }
                }
                .logo__restaurants {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    font-size: 30px;
                    font-family: 'Shrikhand', cursive;
                    text-align: center;
                }
        }
}