*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:  #99E2D0;



body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 70px;
        a {
            text-decoration: none;
                h1 {
                    color: black;
                    font-weight: bold;
                    font-size: 30px;
                    font-family: 'Shrikhand', cursive;
                    text-align: center;
                    padding-top: 15px;
                }
        }
}

.location {
    background: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
        i, p {
            padding: 0 10px;
        }
}

.search {
    background: #F3F3F3;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
            h2 {
                text-align: center;
                font-weight: bold;
                font-size: 25px;
                max-width: 300px;
                margin: 10px;
            }
            p {
                text-align: center;
                font-size: 20px;
                font-weight: lighter;
                max-width: 350px;
                margin: 10px 0;
            }
            button {
                background: linear-gradient(180deg, $secondary-color, $primary-color);
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                font-size: 20px;
                color: white;
                margin: 10px 0;
            }
    }
}

footer {
    background-color: #353535;
    color: white;
    padding: 0 40px 20px;
        h3 {
            font-family: 'Shrikhand', cursive;
            font-weight: lighter;
            font-size: 20px;
            padding: 15px 0;
        };
        ul {
            list-style-type: none;
            li {
                padding: 5px 0;
                    a {
                        text-decoration: none;
                        color: #F3F3F3;
                            .fas {
                                font-size: 15px;
                                padding-right: 5px;
                            }
                    }
            }
        }
}

.restaurants {
    background: #F3F3F3;
}