*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color:  #99E2D0;



body {
    background: #FFF;
    font-family: 'Roboto', sans-serif;
}


/*------------ HEADER ---------*/


.header {
    height: 70px;
        a {
            text-decoration: none;
                h1 {
                    color: black;
                    font-weight: bold;
                    font-size: 30px;
                    font-family: 'Shrikhand', cursive;
                    text-align: center;
                    padding-top: 15px;
                }
        }
}

/*----------- SEARCH SECTION --------- */

.location {
    background: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
        i, p {
            padding: 0 10px;
        }
}

.search {
    background: #F3F3F3;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 0;
            h2 {
                text-align: center;
                font-weight: bold;
                font-size: 25px;
                max-width: 300px;
                margin: 10px;
            }
            p {
                text-align: center;
                font-size: 18px;
                font-weight: lighter;
                max-width: 350px;
                margin: 10px 0;
            }
            button {
                background: linear-gradient(180deg, $secondary-color, $primary-color);
                padding: 10px 20px;
                border: none;
                border-radius: 50px;
                font-size: 18px;
                margin: 10px 0;
                cursor: pointer;
                    a {
                        text-decoration: none;
                        color: white;
                    }
            }
    }
}


.usage__content {
    padding: 40px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        .usage {
            width: 95%;
            max-width: 1200px;
            display: flex;
            flex-direction: column;
                &__title {
                    display: block;
                    font-size: 25px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                &__steps {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    @media screen and (min-width: 768px) {
                        flex-direction: row;
                    }
                    &-style {
                        display: flex;
                        background: #f6f6f6;
                        height: 70px;
                        width: auto;
                        align-items: center;
                        margin: 10px 20px;
                        border-radius: 25px;
                        position: relative;
                        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
                        @media screen and (min-width: 768px) {
                            width: 100%;
                            margin: 10px;
                        }
                            p {
                                background: $primary-color;
                                color: white;
                                position: absolute;
                                padding: 3px 8px;
                                transform: translateX(-50%);
                                border-radius: 25px;
                            }
                            .fas {
                                font-weight: bold;
                                color: #7e7e7e;
                                margin: 20px;
                            }
                            h3 {
                                font-size: 18px;
                                font-weight: 500;
                            }
                    }
                }
        }
}


/*---------- RESTAURANTS SECTION --------*/


.restaurants {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px 30px;
        &__title {
            font-size: 25px;
            display: block;
            font-weight: bold;
            margin-bottom: 20px;
        }
        &__cards {
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: 1fr;
            grid-gap: 20px;
            padding: 20px;
            @media screen and (min-width: 768px) {
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr;
            }
                a {
                    text-decoration: none;
                    color: black;
                        .restaurant__card {
                            position: relative;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-end;
                            width: 100%;
                            border-radius: 20px;
                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
                            margin-bottom: 20px;
                                &-image {
                                    width: 100%;
                                    height: 200px;
                                }
                                &-image > p {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    position: absolute;
                                    top: 20px;
                                    right: 20px;
                                    background: $tertiary-color;
                                    color: #1b6150;
                                    padding: 5px 10px;
                                    border-radius: 5px;
                                }
                                &-image > img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 20px 20px 0 0;
                                }
                                .restaurant__block {
                                    background: white;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    width: 100%;
                                    height: 70px;
                                    border-radius: 0 0 20px 20px;
                                    padding: 10px;
                                        &-info {
                                            font-size: 18px;
                                        }
                                        &-name {
                                            font-weight: 700;
                                        }
                                }
                        }
                }
        }
}               

/*---------- RESTAURANTS PAGES-------- */


.restaurants {
    background: #F3F3F3;
}

.header__restaurants {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
        .header__arrow {
            width: 50px;
            height: 50px;
            position: absolute;
            left: 40px;
            top: 25px;
            font-size: 20px;
                a {
                    text-decoration: none;
                    color: initial;
                }
        }
        .logo__restaurants {
            text-decoration: none;
            color: black;
            font-weight: bold;
            font-size: 30px;
            font-family: 'Shrikhand', cursive;
            text-align: center;
        }
}

.image {
    width: 100%;
    height: 30vh;;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
}

.menu {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border-radius: 30px 30px 0 0;
    background: #f6f6f6;
        &__template {
            width: 100%;
            max-width: 1200px;
                &-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 0;
                        h2 {
                            font-family: 'Shrikhand', cursive;
                            font-size: 28px;
                        }
                        .fa-heart {
                            font-size: 25px;
                        }
                }
                .menu__grid {
                    display: grid;
                    grid-gap: 40px;
                    @media screen and (min-width: 992px) {
                        display: grid;
                        grid-template-rows: 1fr;
                        grid-template-columns: repeat(3, 1fr);
                    }   .menu__template-block {
                                display: grid;
                                grid-gap: 20px;
                                
                                    h3 {
                                     text-transform: uppercase;
                                    }
                                    .menu__template-dish {
                                        position: relative;
                                        cursor: pointer;
                                        overflow: hidden;
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        width: 100%;
                                        height: 80px;
                                        border-radius: 20px;
                                        background: white;
                                        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        padding: 0 15px;
                                            .dish__name h4 {
                                                font-weight: bold;
                                                font-size: 18px;
                                            }
                                            .dish_price {
                                                font-weight: bold;
                                            }  
                                    }
                            } 
                    } 
            } 
    }                                           
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 15px 0;
        button {
            background: linear-gradient(180deg, $secondary-color, $primary-color);
            padding: 10px 20px;
            border: none;
            border-radius: 50px;
            font-size: 18px;
            color: white;
            margin: 10px 0;
            cursor: pointer;
        }
    }
        
/*------- FOOTER -------*/

footer {
    background-color: #353535;
    color: white;
    padding: 0 40px 20px;
    width: 100%;
            h3 {
                font-family: 'Shrikhand', cursive;
                font-weight: lighter;
                font-size: 20px;
                padding: 15px 0;
            };
            ul {
                list-style-type: none;
                @media screen and (min-width: 992px) {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                }
                li {
                    padding: 5px 0;
                        a {
                            text-decoration: none;
                            color: #F3F3F3;
                                .fas {
                                    font-size: 15px;
                                    padding-right: 5px;
                                }
                        }
                }
        }
}

